<h1>{{#if title}}{{title}} &asymp;{{/if}}{{process.env.TITLE}}</h1>
<p>Welcome to {{title}}</p>
<span>Let's test some {{stuff.name}}</span>
adasdf sfdasd  asfsadf asdf asfasdf asdf  asdf
 rtwre asdsd asd asdfffsdf asdf
